<% content_for(:title) do %>Recordings<% end %>

<p id="notice"><%= notice %></p>

<h1>Recordings</h1>

<%= link_to 'Add Recording', new_recording_path, class: 'pull-right btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Song</th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= link_to recording.name, recording %></td>
        <td><%= link_to recording.song.title, recording.song %></td>
      </tr>
    <% end %>
  </tbody>
</table>

