<% content_for(:title) do %>Songs<% end %>

<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<%= link_to 'New Song', new_song_path, class: 'btn btn-primary pull-right' %>

<% @songs.each do |song| %>
    <h2><%= link_to song.title, song %></h2>
<% end %>

